.form-check {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

#list-item {
    background-color: #E8E8E8;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100%;
}

#list-item:focus {
    background-color:	#F8F8F8;
}

