.app {
    text-align: center;
    border: solid black;
    border-radius: 20px;
    margin: 100px auto;    
    max-width: 500px;
    height: fit-content;
    padding: 4rem;
}

.title {
    padding-bottom: 2rem;
}
