.app {
    margin: 2rem;
}

.app-wrapper {
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    height: fit-content;
    border: solid black;
    border-radius: 20px;
    padding: 4rem;
    margin: 5rem auto; 
}

.title {
    padding-bottom: 2rem;
}
